<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Структура библиотеки</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/css/style_Global_Vars.css">
    <link rel="stylesheet" href="/css/style_Header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <script src="js/structNNB.js"></script>

    <link rel="stylesheet" href="/css/KarinaCSS/style_structure.css">

</head>
<body>
<header>
<!--    <jsp:include page="../includes/header.jsp"/>-->
    <th:block th:include="includes/header.html"/>
</header>
    <main>
    <div class="MainBlock">
        <div class="selectedPhotoPage">
            <div class="card__info">
                <h1 class="card__title">Структура библиотеки</h1>
            </div>
            <img src="/media/structure/photo.png" alt="">
        </div>

    </div>
        <div class="InfoBlockSpan">
            <span>Структура</span>
        </div>

        <div class="StructureBlock">
            <div class="StructureFloor">
                <ul>
                    <li id="struct_0" onclick="changeSelectStruct(event)">0 этаж</li>
                    <li id="struct_1" onclick="changeSelectStruct(event)">1 этаж</li>
                    <li id="struct_2" onclick="changeSelectStruct(event)">2 этаж</li>
                    <li id="struct_3" onclick="changeSelectStruct(event)">3 этаж</li>
                    <li id="struct_4" onclick="changeSelectStruct(event)">4 этаж</li>
                </ul>
            </div>

            <div id="floor_0" class="StructureA">
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Отдел автоматизации и новых технологий</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Типография:</a><a class="StructureTel" href="tel:258951">25-89-51</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Бухгалтерия:</a><a class="StructureTel" href="tel:251867">25-18-67</a>
                </div>
            </div>
            <div id="floor_1" class="StructureA">
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Администрация</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Отдел сервисного обслуживания и регистрации читателей:</a><a class="StructureTel" href="tel:251869">25-18-69</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Отдел комплектования и учета фондов:</a><a class="StructureTel" href="tel:258945">25-89-45</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Отдел обработки и каталогизации документов:</a><a class="StructureTel" href="tel:258945">25-89-45</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Абонемент художественной литературы:</a><a class="StructureTel" href="tel:252208">25-22-08</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Отдел периодический изданий:</a><a class="StructureTel" href="tel:258905">25-89-05</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Отдел искусств</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Руководитель кадровой службы</a>
                </div>
            </div>
            <div id="floor_2" class="StructureA">
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Общий читальный зал:</a><a class="StructureTel" href="tel:258909">25-89-09</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Информационно-библиографический отдел:</a><a class="StructureTel" href="tel:258929">25-89-29</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Отдел Редкой книги им. В.Г. Шредерс:</a><a class="StructureTel" href="tel:254898">25-48-94</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Межбиблиотечный абонемент:</a><a class="StructureTel" href="tel:258929">25-89-29</a>
                </div>
            </div>
            <div id="floor_3" class="StructureA">
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Краеведческий отдел:</a><a class="StructureTel" href="tel:258969">25-89-69</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Абонемент отраслевой краеведческой литературы:</a><a class="StructureTel" href="tel:258929">25-89-29</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Книжная палата:</a><a class="StructureTel" href="tel:258929">25-89-29</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Отдел книгохранения</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Музей истории библиотечного дела РСО-А</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Выставочный зал</a>
                </div>
            </div>
            <div id="floor_4" class="StructureA">
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Зал художественной литературы:</a><a class="StructureTel" href="tel:258191">25-81-91</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Зал иностранной литературы:</a><a class="StructureTel" href="tel:258191">25-81-91</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Зал электронных ресурсов</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Видеозал «Креатив»:</a><a class="StructureTel" href="tel:258991">25-89-91</a>
                </div>
                <div class="StructureAMargin">
                    <a class="StructureText" href="#">Инновационно-методический отдел:</a><a class="StructureTel" href="tel:258985">25-89-85</a>
                </div>
            </div>
        </div>


<!--        <%&#45;&#45;<footer>&#45;&#45;%>-->
<!--            <%&#45;&#45;<jsp:include page="../includes/footer.jsp"/>&#45;&#45;%>-->
<!--        <%&#45;&#45;</footer>&#45;&#45;%>-->
    </div>
    </main>
</body>
</html>
