body{
	background-color: #eee;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*height: 100vh;*/
}

.MainBlock{
	width: 960px;
}


.SearchBlock{
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*height: 420px;*/
	/*background-color: gray;*/

}

.searchForm{
	display: flex;
}

.FakeBoxInput{
	display: flex;
	/*margin: 5% 0 0 0;*/
	background-color: #eee;
	height: 45px;
	width: 100%;
	box-shadow: var(--inputShadow);
}
.FakeBoxInputText{
	width: 100%;
	height: 45px;
	background-color: rgba(0,0,0,0);
	padding: 0 10px;
	font-family: var(--font_Famaly);
	font-size: var(--font_Size_Header_lodo);
}


.FakeBoxInputText::-webkit-input-placeholder {
	font-family: 'myFont', var(--font_Famaly);
	font-size: var(--font_Size_Header_lodo);
}

.FakeBoxInputText:-ms-input-placeholder {
	font-family: 'myFont', var(--font_Famaly);
	font-size: var(--font_Size_Header_lodo);
}

.FakeBoxInputText:-moz-placeholder {
	font-family: 'myFont', var(--font_Famaly);
	font-size: var(--font_Size_Header_lodo);
}

.FakeBoxInputText::-moz-placeholder {
	font-family: 'myFont', var(--font_Famaly);
	font-size: var(--font_Size_Header_lodo);
}


.FakeBoxInputButton{
	width: 50px;
	height: 45px;
	background-color: rgba(0,0,0,0);

	background-image: url("../media/mainPage/searchBlock/lupa1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	cursor: pointer;
}

#topFiveBooks{
	display: flex;
	justify-content: space-between;
}
#topFiveBooks img{
	width: 100%;
}
#topFiveBooks img:hover{
	box-shadow: 0px 0px 10px rgba(78, 156, 114, 1);
}

.InfoBlockSpan{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 100%;
	font-family: var(--font_Famaly);
	font-size: var(--font_Size_Info_Block);
	margin: 20px 0 0 0;
	font-weight: 900;
}
.InfoBlockSpanJournal{
	background-color: #161018;
	color: #eee;
}
.InfoBlockSpanPoster{
	/*background-color: #4a81ae;*/
	background: var(--bg_header);
	color: #142638;
}
.InfoBlockSpanSearch{
	margin: 0;
	color: #222;
}
.InfoBlockSpanGallery{
	margin: 0;
	color: #222;
}
.InfoBlockSpanToDay{
	background: var(--bg_header);
	color: #142638;
}
.ToDay{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*height: 400px;*/
	background: var(--bg_header);
}

.todoBlock{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}
.todoBlock span{
	font-family: var(--font_Famaly);
	/*font-size: 1.3em;*/
	/*line-height: 20px;*/
}
.todoBlockSpanBold{
	font-weight: bold;
}

.GalleryBlock{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-direction: column;
	/*background-color: #559fca;*/
	margin: 30px 0 10px 0;
	/*height: 600px;*/
}



/*.JournalLeft{*/
/*display: -webkit-box;*/
/*display: -moz-box;*/
/*display: -ms-flexbox;*/
/*display: -webkit-flex;*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*text-align: center;*/
/*flex-direction: column;*/
/*color: #222;*/
/*width: 50%;*/
/*height: 100%;*/
/*font-family: var(--font_Famaly);*/
/*!* font-size: 20px; *!*/
/*!* text-align: center; *!*/
/*margin: 5px 0 5px 10px;*/
/*}*/
/*.JournalRight{*/
/*display: -webkit-box;*/
/*display: -moz-box;*/
/*display: -ms-flexbox;*/
/*display: -webkit-flex;*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*flex-direction: column;*/
/*color: #222;*/
/*width: 50%;*/
/*height: 100%;*/
/*}*/
/*.JournalRight img{*/
/*width: 100%;*/
/*}*/



.InfoBlockSpan p{
	/*line-height: 1px;*/
	font-size: 16px;
}

.ContactBlock{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
	/*background-color: red;*/
}

.ContactText{
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}
.ContactText img{
	width: 40px;
}
.ContactText span{
	font-family: var(--font_Famaly);
	/*font-size: 20px;*/
	text-align: center;
	margin: 10px 0 0 0;
}
.ContactText p {
	font-family: var(--font_Famaly);
}
.ContactText a {
	font-family: var(--font_Famaly);
}
.ContactCoordinates, .ContactTel, .ContactMail{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 250px;
}
.ContactMap{
	width: 100%;
	margin: 20px;
}

.InfoBlockSpanFooter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-family: var(--font_Famaly);
	font-size: var(--font_Size_Info_Block);
}

.InfoBlockSpanFooter img{
	width: 50px;
	margin: 10px;
}
.InfoBlockSpanFooter p{
	font-family: var(--font_Famaly);
	font-size: 16px;
}
.SearchOff{
	display: none;
}

@-webkit-keyframes autofill {
	to {
		color: inherit;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}
