* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
a{
	text-decoration: none;
}
.link{
	font-family: var(--font_Famaly) !important;
	font-size: 15px;
	color: #fff !important;
	/* color: red !important; */
	transition-duration: 0.2s !important;
	text-decoration: none !important;
}
.link:hover{
	color: #112f50 !important;
}


:root{
	--font-Family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Имя шрифта */
	--bg_header: #478867;
	/*--bg_header: linear-gradient(to bottom, #4981ad, #559fca);*/
	--bg_button: #478867;

	/* --font_Famaly: sans-serif; */
	--font_Size_Header_lodo: 16px;

	--font_All_color: 85,85,85;

	--font_Size_Info_Block: 24px;

	--inputShadow: 0px 0px 10px rgb(71, 136, 103);
}

