body{
	background-color: #eee;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*height: 100vh;*/
}

.MainBlock{
	width: 960px;
}
.InfoBlockSpan{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 100%;
	font-family: var(--font_Famaly);
	font-size: var(--font_Size_Info_Block);
	margin: 20px 0 0 0;
	font-weight: 900;
}
.InfoBlockSpanJournal{
	background-color: #161018;
	color: #eee;
}
.InfoBlockSpanPoster{
	/*background-color: #4a81ae;*/
	background: var(--bg_header);
	color: #142638;
}
.InfoBlockSpanSearch{
	margin: 0;
	color: #222;
}
.InfoBlockSpanGallery{
	margin: 0;
	color: #222;
}
.InfoBlockSpanToDay{
	background: var(--bg_header);
	color: #142638;
}
.ToDay{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*height: 400px;*/
	background: var(--bg_header);
}

.todoBlock{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}
.todoBlock span{
	font-family: var(--font_Famaly);
	/*font-size: 1.3em;*/
	/*line-height: 20px;*/
}
.todoBlockSpanBold{
	font-weight: bold;
}

.GalleryBlock{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-direction: column;
	/*background-color: #559fca;*/
	margin: 30px 0 10px 0;
	/*height: 600px;*/
}


.InfoBlockSpan p{
	/*line-height: 1px;*/
	font-size: 16px;
}

.ContactBlock{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
	/*background-color: red;*/
}

.ContactText{
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}
.ContactText img{
	width: 40px;
}
.ContactText span{
	font-family: var(--font_Famaly);
	/*font-size: 20px;*/
	text-align: center;
	margin: 10px 0 0 0;
}
.ContactText p {
	font-family: var(--font_Famaly);
}
.ContactText a {
	font-family: var(--font_Famaly);
}
.ContactCoordinates, .ContactTel, .ContactMail{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 250px;
}
.ContactMap{
	width: 100%;
	margin: 20px;
}

.InfoBlockSpanFooter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-family: var(--font_Famaly);
	font-size: var(--font_Size_Info_Block);
}

.InfoBlockSpanFooter img{
	width: 50px;
	margin: 10px;
}
.InfoBlockSpanFooter p{
	font-family: var(--font_Famaly);
	font-size: 16px;
}
.SearchOff{
	display: none;
}

@-webkit-keyframes autofill {
	to {
		color: inherit;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}



/* Малые девайсы («ландшафтные телефоны», >= 576px) */
/* @media (max-width: 576px) {

} */

/* Средние девайсы («таблетки», >= 768px) */
/* @media (max-width: 768px)  {

} */

/* Большие девайсы (десктопы, >= 992px) */
@media (max-width: 992px) {
	.InfoBlockSpan{
		height: auto !important;
		min-height: 80px;
	}

}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
/* @media (max-width: 1200px) {

} */