header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	/*background-color: var(--bg_header);*/
	background: var(--bg_header);
}

#headerDiv{
	display: flex;
	height: 80px;
	/*margin: 5px 0 5px 0;*/
	/*width: 960px;*/
	/*background-color: var(--bg_header);*/
}
#hLogo{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	/*background-color: blanchedalmond;*/
	width: 50%;
	height: 100%;
}
#hLogo img{
	height: 60px;
}
#hLogo a{
	text-decoration: none;
}
#hLogo h1{
	font-family: var(--font_Famaly);
	font-size: var(--font_Size_Header_lodo);
	margin: 0 0 0 10px;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 0 4px rgba(0,0,0,.5);
}

#hMenu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.menuBG{
	cursor: pointer;
	color: white;
	z-index: 10;
	margin: 0 0 0 40px;
}

#headerInfo{
	height: fit-content;
}
.overlayMenu a {
	font-family: var(--font_Famaly);
	line-height: 15px;
}

.headerMK{
	height: 50px !important;
	filter: opacity(0.6) !important;
}
.headerMKA{
	margin: 0 0 0 20px;
}

.headerMKH1{
	font-size: 10px !important;
	color: #c7c7c7 !important;
	text-shadow: 0 0 0 rgba(0,0,0,1) !important;
}


.headerLink{
    display: flex;
    align-items: center;
    justify-content: space-between;
	height: 40px;
	padding: 0 !important;
}
.divButTop{
	height: 1px !important;
	background-color: #eee !important;
	/* background-clip: content-box; */
}

.headerIconLink{
	height: 30px;
	margin: 5px;
}
.headerIconLink:hover{
	filter: drop-shadow(2px 4px 6px black);
}

.slickSliderBlockBefore{
	text-decoration: none !important;
}
.slickSliderBlockBefore p{
	margin: 0 !important;
	padding: 0.5rem !important;
	font-size: 15px;
	text-align: left;
	color: #fff;
}
.slickSliderBlockBefore:hover{
	text-decoration: none !important;
}
.hFit{
	height: fit-content;
	z-index: 100;
}
.disabledLine{
	display: none;
}

/*------------------------SLICK-------------------------*/
.slickSliderBlock a{
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 300px; */
	margin: 15px 0;
}




/* ------------------bootstrap_hamburger---------------- */
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #eee;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler:active,.navbar-toggler:focus {
	outline: 0;
}
.navbar-toggler {
  border: none !important;
  background: transparent !important;
  padding: initial;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
	opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
	opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
  }
  .removeLink{
	display: flex;
	justify-content: center;
	align-items: center;
}
.MA{
	margin: 5px 0 5px 5px;
}
.navbar-brand{
	margin-right: 0 !important;
}


.warning{
	background-color: #b74b30;
    padding: 0 10px;
    border-radius: 3px;
}
/* ---------------------------------message------------------------ */
.message{
	display: none;
	position: fixed !important;
	bottom: 0 !important;
	background-color: #c0392b !important;
	z-index: 10 !important;
	color: #eee;
	filter: drop-shadow(2px 2px 6px black);
}



/* --------------------------------------------------------------------------------------------- */
/* ---------------------------------mobile------------------------------------------------------ */


/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (max-width: 576px) {

}

/* Средние девайсы («таблетки», >= 768px) */
@media (max-width: 768px)  {
	.removeLink{
		display: none;
	}
}

/* Большие девайсы (десктопы, >= 992px) */
@media (max-width: 992px) {
	.headerLink{
		flex-wrap: wrap !important;
		height: auto !important;
		padding: 0;
	}
	.link{
		width: inherit;
		margin: 10px 0 0 0;
		text-align: center;
		font-size: 16px;
	}

	.slick-slide-resize img{
		width: 100% !important;
    	height: auto;
	}
	.slickSliderBlock a{
		height: auto;
		flex-direction: column;
	}
	.slick-arrow{
		display: none !important;
	}
	.slickSliderBlockBefore p{
		font-size: 16px;
		padding: 0.5rem 0 0.5rem 0 !important;
	}
	.hLogoFont{
		font-size: 18px !important;
	}
	.WH{
		width: 50px;
		height: 50px;
		padding: 0 !important;
	}
	.MLA{
		margin-left: auto;
	}
	.slick-slide{
		margin: 0;
	}
	.disabledLine{
		display: block;
		background-clip: content-box;
	}
	.MA{
		margin: 5px;
	}
	.MA2{
		margin: .5rem;
	}
	.message h6{
		font-size: 13px !important;
	}

}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
/* @media (max-width: 1200px) {

} */