.Journal{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*height: 400px;*/
	background-color: #161018;
}
.Journal img{
	width: 100% !important;
    height: auto;
}
.Journal span{
	background-color: #161018;
	color: #eee;
	font-family: var(--font_Famaly);
	font-size: 18px;
	padding: 20px;
}
