<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <title>О библиотеке</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/css/style_Global_Vars.css">
    <link rel="stylesheet" href="/css/style_Header.css">
    <link rel="stylesheet" href="/css/KarinaCSS/style_library.css">
</head>
<body>
<header>
    <th:block th:include="includes/header.html"/>
</header>
    <main>
    <div class="MainBlock">
        <div class="InfoBlockSpan">
            <span>О библиотеке</span>
        </div>
        <div class="BlockInfoAll">
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bBlue">
                    <div class="BlockInfoImg"><img src="/media/library/img1.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/content/history">История</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bGreen">
                    <div class="BlockInfoImg"><img src="/media/library/img2.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Музей истории библиотечного дела РСО-Алания</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bRed">
                    <div class="BlockInfoImg"><img src="/media/library/img3.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Шредерс Варвара Григорьевна - основательница ННБ РСО-Алания</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bGreen">
                    <div class="BlockInfoImg"><img src="/media/library/img4.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/content/structure">Структура</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bYellow">
                    <div class="BlockInfoImg"><img src="/media/library/img5.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Руководство</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bBlue">
                    <div class="BlockInfoImg"><img src="/media/library/img1.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">История</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bGreen">
                    <div class="BlockInfoImg"><img src="/media/library/img2.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Музей истории библиотечного дела РСО-Алания</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bRed">
                    <div class="BlockInfoImg"><img src="/media/library/img3.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Шредерс Варвара Григорьевна - основательница ННБ РСО-Алания</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bGreen">
                    <div class="BlockInfoImg"><img src="/media/library/img4.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Структура</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bYellow">
                    <div class="BlockInfoImg"><img src="/media/library/img5.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Руководство</a></div>
                </article>
            </div>
        </div>
        <div class="InfoBlockSpan">
            <span>Сотруднечество</span>
        </div>
        <div class="BlockInfoAll">
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bBlue">
                    <div class="BlockInfoImg"><img src="/media/library/img1.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">История</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bGreen">
                    <div class="BlockInfoImg"><img src="/media/library/img2.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Музей истории библиотечного дела РСО-Алания</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bRed">
                    <div class="BlockInfoImg"><img src="/media/library/img3.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Шредерс Варвара Григорьевна - основательница ННБ РСО-Алания</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bGreen">
                    <div class="BlockInfoImg"><img src="/media/library/img4.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Структура</a></div>
                </article>
            </div>
            <div class="BlockInfo BlockInfoMargin">
                <article class="BlockArticle bYellow">
                    <div class="BlockInfoImg"><img src="/media/library/img5.jpg" alt=""></div>
                    <div class="BlockInfoTitle"><a class="BlockInfoLink" href="/">Руководство</a></div>
                </article>
            </div>
        </div>

    </div>
    </main>
</body>
</html>
