<div class="GalleryBlock">
    <div class="InfoBlockSpan InfoBlockSpanGallery">
        <span style="color: #142638;">Культурно-досуговая деятельность библиотеки (архив)</span>
    </div>

    <div class="GalleryBlockPhoto">
        <div class="GalleryPhoto GalleryPhotoMargin">
            <figure class="GalleryFigure">
                <div class="GalleryFigureDiv">
                    <img src="/media/mainPage/gallery/g1.jpg">
                </div>
                <figcaption class="GalleryFigcaption">
                    <h2>Заголовок</h2>
                    <p>Тут типа будет описание</p>
                    <a href="">Подробнее</a>
                </figcaption>
            </figure>
        </div>
        
        
        <div class="GalleryPhoto GalleryPhotoMargin">
            <figure class="GalleryFigure">
                <div class="GalleryFigureDiv">
                    <img src="media/mainPage/gallery/g2.jpg">
                </div>
                <figcaption class="GalleryFigcaption">
                    <h2>Заголовок</h2>
                    <p>Тут типа будет описание</p>
                    <a href="">Подробнее</a>
                </figcaption>
            </figure>
        </div>
        <div class="GalleryPhoto GalleryPhotoMargin">
            <figure class="GalleryFigure">
                <div class="GalleryFigureDiv">
                    <img src="media/mainPage/gallery/g3.jpg">
                </div>
                <figcaption class="GalleryFigcaption">
                    <h2>Заголовок</h2>
                    <p>Тут типа будет описание</p>
                    <a href="">Подробнее</a>
                </figcaption>
            </figure>
        </div>
        <div class="GalleryPhoto GalleryPhotoMargin">
            <figure class="GalleryFigure">
                <div class="GalleryFigureDiv">
                    <img src="media/mainPage/gallery/g4.jpg">
                </div>
                <figcaption class="GalleryFigcaption">
                    <h2>Заголовок</h2>
                    <p>Тут типа будет описание</p>
                    <a href="">Подробнее</a>
                </figcaption>
            </figure>
        </div>
        <div class="GalleryPhoto GalleryPhotoMargin">
            <figure class="GalleryFigure">
                <div class="GalleryFigureDiv">
                    <img src="media/mainPage/gallery/g5.jpg">
                </div>
                <figcaption class="GalleryFigcaption">
                    <h2>Заголовок</h2>
                    <p>Тут типа будет описание</p>
                    <a href="">Подробнее</a>
                </figcaption>
            </figure>
        </div>
        <div class="GalleryPhoto GalleryPhotoMargin">
            <figure class="GalleryFigure">
                <div class="GalleryFigureDiv">
                    <img src="media/mainPage/gallery/g6.jpg">
                </div>
                <figcaption class="GalleryFigcaption">
                    <h2>Заголовок</h2>
                    <p>Тут типа будет описание</p>
                    <a href="">Подробнее</a>
                </figcaption>
            </figure>
        </div>


    </div>


    <div class="GalleryLink">
        <a href="templates/archive/2020/year.php">Посмотреть все</a>
    </div>
</div>