<div class="InfoBlockSpan mt-4">
    <span style="color: #142638;">Календарь памятных дат "Осетия - 2020"</span>
</div>
<div class="Calendar mt-4">
    <div class="CalendarLeft">
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/8jA_SVEEMgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="CalendarRight">
        <span>23 января 1786 года родился Огюст де Монферран. Сегодня исполняется 90 лет со дня рождения выдающегося поэта, нобелевского лауреата Дерека Уолкотта. 23 января 1928 года родилась великая французская актриса, легенда мирового кинематографа Жанна Моро.</span>
    </div>
    
</div>
<a class="Bcolor link btn btn-primary d-flex justify-content-center" href="templates/archive/2020/year.php" role="button">Посмотреть все</a>