<!-- 
<div id="headerDiv" class="container">
    <div id="hLogo">
        <a href="/"><img src="/media/mainPage/header/logoNew.png"></a>
        <a href="/"><h1>Национальная научная <br> <span id="spacing">БИБЛИОТЕКА</span> <br> РСО-Алании</h1></a>
        <a class="headerMKA" href="http://mk.alania.gov.ru/"><img class="headerMK" src="/media/mainPage/header/logoMKVL.png"></a>
        <a href="http://mk.alania.gov.ru/"><h1 class="headerMKH1">Учреждение <br>подведомственное <br> Министерству культуры <br>РСО-Алания</h1></a>
    </div>
    <div id="hMenu">

        <a href="https://vk.com/nnbrsoalania"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/vk.png" alt=""></a>
        <a href="https://www.facebook.com/HCTENIE/"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/fb.png" alt=""></a>
        <a href="https://ok.ru/group/52651479990435"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/ok.png" alt=""></a>
        <a href="https://www.instagram.com/nnbrso15/?hl=ru"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/inst.png" alt=""></a>
    </div>
</div> -->


<nav class="container navbar navbar-expand-lg navbar-light">
    <div id="hLogo">
        <a class="navbar-brand" href="/"><img src="/media/mainPage/header/logoNew.png"></a>
        <a class="navbar-brand" href="/"><h1>Национальная научная <br> <span id="spacing">БИБЛИОТЕКА</span> <br> РСО-Алании</h1></a>
        <a class="navbar-brand headerMKA" href="http://mk.alania.gov.ru/"><img class="headerMK" src="/media/mainPage/header/logoMKVL.png"></a>
        <a class="navbar-brand" href="http://mk.alania.gov.ru/"><h1 class="headerMKH1">Учреждение <br>подведомственное <br> Министерству культуры <br>РСО-Алания</h1></a>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-end navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="https://vk.com/nnbrsoalania"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/vk.png" alt=""></a>
          <a href="https://www.facebook.com/HCTENIE/"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/fb.png" alt=""></a>
          <a href="https://ok.ru/group/52651479990435"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/ok.png" alt=""></a>
          <a href="https://www.instagram.com/nnbrso15/?hl=ru"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/inst.png" alt=""></a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end navbarNav" >
        <ul class="navbar-nav">
          <li class="nav-item active">
            <div class="divButTop container"></div>
            <div class="headerLink container">
                <a href="/content/library" class="link">О библиотеке</a>
                <a href="/" class="link">Ресурсы</a>
                <a href="/" class="link">Афиша</a>
                <a href="/" class="link">Посетителям</a>
                <a href="/" class="link">Проекты</a>
                <a href="/" class="link">Клубы</a>
                <a href="/" class="link">Журнал "Записки на манжетах"</a>
                <a href="/" class="link">Методобъединение</a>
            </div>
          </li>
        </ul>
      </div>


  </nav>











<div id="headerInfo" class="container">
    <section class="HeaderSlick slider" data-sizes="50vw">
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/nnb.png">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/tar.jpg">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/perev.jpg">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/topbook.png">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/k2.png">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
    </section>
</div>
