<div id="headerDiv" class="container">
    <div id="hLogo">
        <a href="/"><img src="/media/mainPage/header/logoNew.png"></a>
        <a href="/"><h1>Национальная научная <br> <span id="spacing">БИБЛИОТЕКА</span> <br> РСО-Алании</h1></a>
        <a class="headerMKA" href="http://mk.alania.gov.ru/"><img class="headerMK" src="/media/mainPage/header/logoMKVL.png"></a>
        <a href="http://mk.alania.gov.ru/"><h1 class="headerMKH1">Учреждение <br>подведомственное <br> Министерству культуры <br>РСО-Алания</h1></a>
    </div>
    <div id="hMenu">

        <a href="https://vk.com/nnbrsoalania"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/vk.png" alt=""></a>
        <a href="https://www.facebook.com/HCTENIE/"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/fb.png" alt=""></a>
        <a href="https://ok.ru/group/52651479990435"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/ok.png" alt=""></a>
        <a href="https://www.instagram.com/nnbrso15/?hl=ru"><img class="headerIconLink" src="/media/mainPage/header/linkIcon/inst.png" alt=""></a>
    </div>
</div>

<div class="headerLink container">
    <a href="/content/library" class="hMenuA">О библиотеке</a>
    <a href="/" class="hMenuA">Ресурсы</a>
    <a href="/" class="hMenuA">Афиша</a>
    <a href="/" class="hMenuA">Посетителям</a>
    <a href="/" class="hMenuA">Проекты</a>
    <a href="/" class="hMenuA">Клубы</a>
    <a href="/" class="hMenuA">Журнал "Записки на манжетах"</a>
    <a href="/" class="hMenuA">Методобъединение</a>
</div>

<div id="headerInfo" class="container">
    <section class="HeaderSlick slider" data-sizes="50vw">
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/nnb.png">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/tar.jpg">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/perev.jpg">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/topbook.png">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
        <div class="slick-slide-resize">
            <div class="slickSliderBlock">
                <a class="slickSliderBlockBefore" href="/">
                    <img src="/media/mainPage/header/headerInfo/k2.png">
                    <p>Каждый вид искусства в той или иной степени отдал дань жанру хоррора, но, пожалуй, именно в рамках кино он впервые приобрел такую творческую мощь и размах. Мы понаблюдаем за рождением хоррора в кино и его дальнейшим развитием, проследим тенденции, проанализируем его механизмы и постараемся найти ответ на вопрос «Почему же нам так нравится, когда нас пугают?»</p>
                </a>
            </div>
        </div>
    </section>
</div>
