
<form accept-charset="UTF-8" class="searchForm" action="/search" method="post">

    <input id = "searchAuthor" class="FakeBoxInputText FakeBoxInput SearchOff" placeholder="Автор" name="searchAuthor" />
    <input id = "searchName" class="FakeBoxInputText FakeBoxInput SearchOff" placeholder="Название" name="searchName" />
    <input id = "searchYear" class="FakeBoxInputText FakeBoxInput SearchOff" placeholder="Год" name="searchYear" />

    <input class="FakeBoxInputButton SearchOff" type="button" value="Найти" onclick ="findNewSetBooks()">
</form>
