<div class="InfoBlockSpan InfoBlockSpanPoster">
    <span>Афиша</span>
</div>
<div class="PosterBlock">
    

    <div class="Posters">
        <section id="slider_main" class="center slider">
                <div>
                    <a href="/media/mainPage/poster/posters/af.jpg" class="lightzoom"><img src="/media/mainPage/poster/posters/af.jpg"></a>
                </div>             
                <div>
                    <a href="/media/mainPage/poster/posters/af1.jpg" class="lightzoom"><img src="/media/mainPage/poster/posters/af1.jpg"></a>
                </div>
                <div>
                    <a href="/media/mainPage/poster/posters/af2.jpg" class="lightzoom"><img src="/media/mainPage/poster/posters/af2.jpg"></a>
                </div>
        </section>
    </div>

    
    <div class="PostersInfo">
        <div  class="PostersInfoBlock">
            <div class="PostersInfoDate"><span class="PostersInfoDateDate PostersInfoDateDateWidth">15</span>
                <span class="PostersInfoDateText">июня</span>
            </div>
            <div class="PostersInfoDescription">
                <span class="PostersInfoDescriptionHeader">Название</span>
                <span class="PostersInfoDescriptionFooter">Описание</span>
                <span class="PostersInfoDescriptionFooterDepartment">месторасположение</span>
            </div>

            <div class="PostersInfoTime">
                <span class="PostersInfoDateDate PostersInfoDateTimeWidth">14:30</span>
            </div>
        </div>
    </div>

    

</div>

<link rel="stylesheet" href="js/Lightbox/style.css" />
<script src="js/Lightbox/lightzoom.js"></script>
<script type="text/javascript">
    jQuery('.lightzoom').lightzoom({speed: 400,
            viewTitle: true,
            isOverlayClickClosing: false,
            isWindowClickClosing: true,
            isEscClosing: true
  });
  </script>