<div class="InfoBlockSpan InfoBlockSpanPoster pt-4">
    <span>Афиша</span>
</div>
<div class="PosterBlock pt-4">
    

    <div class="Posters">
        <section id="slider_main" class="center slider">
                <div>
                    <a href="/media/mainPage/poster/posters/af.jpg" class="lightzoom"><img src="/media/mainPage/poster/posters/af.jpg"></a>     
                </div>             
                <div>
                    <a href="/media/mainPage/poster/posters/af1.jpg" class="lightzoom"><img src="/media/mainPage/poster/posters/af1.jpg"></a>
                </div>
                <div>
                    <a href="/media/mainPage/poster/posters/af2.jpg" class="lightzoom"><img src="/media/mainPage/poster/posters/af2.jpg"></a>
                </div>
                <div>
                    <a href="/media/mainPage/poster/posters/af2.jpg" class="lightzoom"><img src="/media/mainPage/poster/posters/af2.jpg"></a>              
                </div>
        </section>
    </div>

    <div class="Description_events">
        <div class="templatePosterDate Disabled">14</div>
        <div class="templatePosterDateText Disabled">июня</div>
        <div class="templatePosterDescriptionHeader Disabled">Вечер Вечерной</div>
        <div class="templatePosterDescriptionFooter Disabled">Бесплатный сервис Google позволяет мгновенно переводить слова, фразы и веб-страницы с английского на более чем 100 языков и обратно.</div>
        <div class="templatePosterDescriptionFooterDepartment Disabled">Общий читальный зал</div>
        <div class="templatePosterDateTime Disabled">18:30</div>

        <div class="templatePosterDate Disabled">16</div>
        <div class="templatePosterDateText Disabled">июля</div>
        <div class="templatePosterDescriptionHeader Disabled">День Дневной</div>
        <div class="templatePosterDescriptionFooter Disabled">Очень интересный день</div>
        <div class="templatePosterDescriptionFooterDepartment Disabled">Художка</div>
        <div class="templatePosterDateTime Disabled">13:20</div>

        <div class="templatePosterDate Disabled">18</div>
        <div class="templatePosterDateText Disabled">август</div>
        <div class="templatePosterDescriptionHeader Disabled">Утро Утреннее</div>
        <div class="templatePosterDescriptionFooter Disabled">Очень интересное утро</div>
        <div class="templatePosterDescriptionFooterDepartment Disabled">Абонемент</div>
        <div class="templatePosterDateTime Disabled">12:30</div>

        <div class="templatePosterDate Disabled">18</div>
        <div class="templatePosterDateText Disabled">август</div>
        <div class="templatePosterDescriptionHeader Disabled">Утро Утреннее</div>
        <div class="templatePosterDescriptionFooter Disabled">Очень интересное утро</div>
        <div class="templatePosterDescriptionFooterDepartment Disabled">Абонемент</div>
        <div class="templatePosterDateTime Disabled">12:30</div>
    </div>   

    
    <div class="PostersInfo mobileDesabled">
        <div  class="PostersInfoBlock">
            <div class="PostersInfoDate"><span id="1_Date" class="PostersInfoDateDate PostersInfoDateDateWidth"></span>
                <span id="2_Text" class="PostersInfoDateText"></span>
            </div>
            <div class="PostersInfoDescription">
                <span id="3_Description" class="PostersInfoDescriptionHeader"></span>
                <span id="4_DescriptionFooter" class="PostersInfoDescriptionFooter"></span>
                <span id="5_DescriptionFooterDepartment" class="PostersInfoDescriptionFooterDepartment"></span>
            </div>
            <div class="PostersInfoTime">
                <span id="6_DateTime" class="PostersInfoDateDate PostersInfoDateTimeWidth"></span>
            </div>
        </div>
    </div>


    <div class="PostersInfo mobileEnable">
        <div  class="PostersInfoBlock">
           
            <div class="PostersInfoDescription">
                <span id="3_Description2" class="PostersInfoDescriptionHeader"></span>
                <span id="4_DescriptionFooter2" class="PostersInfoDescriptionFooter"></span>
                <span id="5_DescriptionFooterDepartment2" class="PostersInfoDescriptionFooterDepartment"></span>
            </div>

            <div class="mobileDate">
                <div class="PostersInfoDate2"><span id="1_Date2" class="PostersInfoDateDate PostersInfoDateDateWidth"></span>
                    <span id="2_Text2" class="PostersInfoDateText"></span>
                </div>
                <div class="PostersInfoTime">
                    <span id="6_DateTime2" class="PostersInfoDateDate PostersInfoDateTimeWidth"></span>
                </div>
            </div>

            
        </div>
    </div>

    

</div>

<link rel="stylesheet" href="js/Lightbox/style.css" />
<script src="js/Lightbox/lightzoom.js"></script>
<script type="text/javascript">
    jQuery('.lightzoom').lightzoom({speed: 400,
            viewTitle: true,
            isOverlayClickClosing: false,
            isWindowClickClosing: true,
            isEscClosing: true
  });

  document.addEventListener("DOMContentLoaded", () => {
    posterInfoResize();
    window.addEventListener('resize', function(event){
        posterInfoResize();
    });
  });

  function posterInfoResize(){
    if (window.matchMedia("(max-width: 992px)").matches) {
        document.getElementsByClassName("mobileDesabled")[0].style.display="none";
        document.getElementsByClassName("mobileEnable")[0].style.display="flex";
    } else {
        document.getElementsByClassName("mobileDesabled")[0].style.display="flex";
        document.getElementsByClassName("mobileEnable")[0].style.display="none";
    }
  }


 
  </script>