<div class="InfoBlockSpan InfoBlockSpanToDay">
    <span>Сегодня в ННБ РСО-Алания</span>
    <p>Книжно-иллюстративные выставки:</p>
</div>

<div class="ToDay">
    <div class="ToDayCentre">
        <div class="ramka-7">«Алексей Саврасов. Мастер лирического пейзажа - к 190-летию со дня рождения художника» <br><br> Отдел искусств - 1 этаж</div>
        <div class="ramka-7">«Оглянись вокруг» «Татьянин день! Ликуй, студент!» «Антарктида, 200 лет открытий» <br><br> ОЧЗ - 2 этаж</div>
        <div class="ramka-7">«Гордость европейской философской школы» (к 305-летию К.Гельвеция, 335-летию Дж.Беркли, 200-летию Г. Спенсера, 260-летию К. Сен-Симона, 245-летию В.И. Шеллинга, 145-летию А. Швейцера) <br><br> Отдел иностранной литературы - 4 этаж</div>
        <div class="ramka-7">«Человечность фантастики» (к 130-летию К.Чапека, 100-летию Р. Бредбери, 100-летию А. Азимова) <br><br> Отдел иностранной литературы - 4 этаж</div>
        <div class="ramka-7">«Миллионы уроков для сердца...» (к 300-летию К.Гоцци, 235-летию Я.Гримма, 215-летию Г.Х. Андерсена, 155-летию Р.Киплинга, 100-летию Дж. Родари) <br><br> Отдел иностранной литературы - 4 этаж</div>
        <div class="ramka-7">«Великий историк языка» (к 125-летию со дня рождения языковеда, литературоведа В.В. Виноградова) <br><br> Зал художественной литературы - 4 этаж</div>
        <div class="ramka-7">«Поэзия!!!Люблю ее без памяти, страстно...» (к 225-летию со дня рождения Грибоедова А.С.) <br><br> Зал художественной литературы - 4 этаж</div>
        <div class="ramka-7">«Оглянись вокруг» «Антарктида - 200 лет открытий» <br><br> ИБЦ - 2 этаж</div>
        <div class="ramka-7"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/8jA_SVEEMgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
</div>