body{
    background-color: #eee;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*height: 100vh;*/
}
#headerInfo{
    display: none;
}
.InfoBlockSpan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-family: var(--font_Famaly);
    font-size: var(--font_Size_Info_Block);
    /*border-bottom: 1px solid var(--bg_header);*/
}
.selectedPhotoPage{
    height: 216px;
}
.selectedPhotoPage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.card__info{
    position: absolute;
    z-index: 1;
    color: #eee;
    text-shadow: 0 0 4px rgba(0,0,0,.5);
    margin: 20px;
    font-family: var(--font_Famaly);
}
.InfoBlock{
    font-family: var(--font_Famaly);
}




/* ---------------------------------mobile------------------------------------------------------ */


/* Малые девайсы («ландшафтные телефоны», >= 576px) */
/* @media (max-width: 576px) {

} */

/* Средние девайсы («таблетки», >= 768px) */
/* @media (max-width: 768px)  {

} */

/* Большие девайсы (десктопы, >= 992px) */
@media (max-width: 992px) {
    .disabledLine{
        display: none;
    }
    .card__title{
        font-size: 26px;
    }

}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
/* @media (max-width: 1200px) {

} */