<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <script src="js/jquery-3.3.1.js"></script>
    <title>CreateAdmin</title>
</head>
<body>
    <form action="/createAdmin" method="post">
        <input type="text" name="username" placeholder="admin name">
        <input type="password" name="pwd" placeholder="password">
        <input type="password" name="code" placeholder="access code">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
