<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Search_Books</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="js/downloadScripts.js"></script>
    <script src="js/parserInfoBooks.js"></script>

<!--    TODO: csrf-->
<!--    <sec:csrfMetaTags/>-->
    <script src="js/csrf.js"></script>

    <script src="js/LoDash.js"></script>
    <link rel="stylesheet" href="/css/style_Global_Vars.css">
    <link rel="stylesheet" href="/css/style_Header.css">
    <link rel="stylesheet" href="/css/style_search_books.css">

    <link rel="stylesheet" href="/css/bookAnim/bookAnim.css">
    <link rel="stylesheet" href="/css/bookNextPage/nextPage.css">
    <link rel="stylesheet" href="/css/bookAnim/loadAnim.css">

</head>
<body>
<header>
<!--    <jsp:include page="includes/header.jsp"/>-->
    <th:block th:include="includes/header.html"/>
</header>
    <main>


    <script>
        if ([[${fromMainPage}]]){
            fromMainSearch = true;
            basicSearch = false;

            searchStr = '[[${searchString}]]';
        }

        if ([[${basicSearch}]]) {
            fromMainSearch = false;
            basicSearch = true;
            searchName = '[[${searchName}]]';
            searchAuthor = '[[${searchAuthor}]]';
            searchYear = '[[${searchYear}]]';
        }

        // books = [[${bookList}]];
    </script>
    <div class="MainBlockSearch">
        <div class="SearchBlock">
            <th:block th:include="includes/input_search_page.html"/>
        </div>
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label>	●</label>
                <label>	●</label>
                <label>	●</label>
                <label>	●</label>
                <label>	●</label>
                <label>	●</label>
            </div>
        </div>
        <div class="SearchInfo"></div>
        <div class="PageNumBooksPlace"></div>
        <div class = "booksSearchResult">
            <script type="text/template" id="description">
                <th:block th:include="includes/bookDescription.html"/>

<!--                <jsp:include page="includes/bookDescription.jsp"/>-->

            </script>
        </div>
        <div class = "booksSearchResultHtml"></div>
        <div class="PageNumBooksTemplate">
            <script type="text/template" id="switchPages">
                <th:block th:include="includes/pageSwitcher.html"/>
<!--                <jsp:include page="includes/pageSwitcher.jsp"/>-->
            </script>
         </div>
        <div class="PageNumBooksPlace"></div>
    </div>
    </main>
</body>
</html>
