<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <script src="js/jquery-3.3.1.js"></script>

<!--    <th:block th:include="includes/csrf.html"/>-->

    <script src="js/adminScripts.js"></script>

    <title>NNB ADMIN</title>
</head>
<body>
    <input id="eName" type="text">
    <input id="eDescription" type="text">
    <input id="eLocation" type="text">
    <input id="eDateTime" type="datetime-local">
    <input id="ePoster" type="file">
    <input type="button" value="submit" onclick="uploadEvent()">
    <br>
    <br>
    <br>
    <br>
    <select id="nnbEvList">
        <option th:each="nnbEvent : ${events}" th:id="nnbEv_ + ${nnbEvent.id}" th:text="${nnbEvent.eName + ' ' + nnbEvent.eDay +'.' + nnbEvent.eMonth + '.' + nnbEvent.eYear}"></option>
    </select>
    <input type="button" value="delete" onclick="deleteEvent()">


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <input id="arcName" type="text">
    <input id="arcDescription" type="text">
    <input id="arcDateTime" type="datetime-local">
    <input id="arcPhotos" multiple type="file">
    <input id="arcPoster" type="file">
    <input type="button" value="submit" onclick="uploadArcEvent()">

    <br>
    <br>
    <br>
    <br>

    <input id="arcSelectTime" type="month" onchange="getArcEventsOfMonth()">

    <br>
    <select id="nnbArcList">
        <option th:each="arcEvent : ${archiveEvents}" th:id="nnbEv_ + ${arcEvent.id}" th:text="${arcEvent.eName + ' ' + arcEvent.eDay +'.' + arcEvent.month + '.' + arcEvent.year}"></option>
    </select>
    <input type="button" value="delete" onclick="deleteArcEvent()">
</body>
</html>
